<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/form_style.css"> 
</head>
<body>
    <div class="form-container">
<h1> create new post</h1>

<form action="/posts" method="post">

<input type="text" name ="username" placeholder=" enter your name" required>

<textarea name="content" rows="4" placeholder="Write your content..." required></textarea>
      <button type="submit">Post Now</button>


</form>


<a href="/posts">⬅️ Back to All Posts</a>

    </div>
</body>
</html>